
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 8vh;
  justify-content: center;
}

header h2 {
  line-height: 0;
  text-align: center;
  font-size: 8vh;
  margin-bottom: 7vh;
  margin-top: 2vh;
  
}

header h3 {
  line-height: 0;
  text-align: center;
  font-size: 2.5vh;
}


.days {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: flex-end;
  width:  100px;
  margin-bottom:50;
}

.days p {
  margin-bottom:5px;
  font-size:2vh
}

.scheduleGrid {
  display: grid;
  grid-template-columns: 50px 2fr 2fr 2fr;
  grid-template-rows: repeat(17, 2fr);
  grid-gap: 1px;
  height: 91.8vh;
  border: 1px solid lightgray;
  background: lightgray;
  }

  .column1 {
    grid-column: 1
  }
  .Doctor {
    grid-column: 2
  }
  .Assistant {
    grid-column: 3
  }
  .Hygienist {
    grid-column: 4
  }

  .row1 {
    grid-row: 1
  }
  .row2 {
    grid-row: 2
  }
  .row3 {
    grid-row: 3
  }
  .row4 {
    grid-row: 4
  }
  .row5 {
    grid-row: 5
  }
  .row6 {
    grid-row: 6
  }
  .row7 {
    grid-row: 7
  }
  .row8 {
    grid-row: 8
  }
  .row9 {
    grid-row: 9
  }
  .row10 {
    grid-row: 10
  }
  .row11 {
    grid-row: 11
  }
  .row12 {
    grid-row: 12
  }
  .row13 {
    grid-row: 13
  }
  .row14 {
    grid-row: 14
  }
  .row15 {
    grid-row: 15
  }
  .row16 {
    grid-row: 16
  }
  .row17 {
    grid-row: 17
  }

  .time {
    font-size: 1.5vh;
    background: white;
    text-align: center;
  }

  .timeBlock {
    background: white;
  }

  .timeBlock:hover {
    background: lightgray;
  }

  .addButton {
    display:flex;
    background: white;
    padding-top: 4px;
    padding-bottom: 3px;
    justify-content: flex-start;
  }

  .addButton button {
    width: 25%;
    display:flex;
    justify-content: center;
  }

  .columnHeader {
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    background: white;
  }

  .columnHeader p {
    line-height: 0;
  }

  button {
    border: 2px solid black;
    padding: 7px  !important;
    border-radius: 25px;
    color: black !important;
    background-color: white;
    font-size:2vh;
    font-weight:bold;
    
  }

  input[type=submit] {
    border: 2px solid black;
    padding: 7px 15px !important;
    border-radius: 25px;
    color: black !important;
    background-color: white;
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
    
  }

  button:hover {
    color: white !important;
    background-color: blue;
    text-decoration: none;
  }
  input[type=submit]:hover {
    color: white !important;
    background-color: blue;
    text-decoration: none;
  }
  button:focus {
    outline: none;
  }
  header button {
    font-size: 1.8vh;
    width: 100px;
    align-self: center;
    margin-right: 1%;
    margin-left: 1%;
  }

  .modal {
    z-index: 100;
    width: 400px;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -100px;
    border-radius: 10px;
    height: 300px
  }

  .modalHeader {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
    line-height: 0.6;
    align-items: center;
    justify-content: center;
  }

  .modalContent {
    padding: 1rem;
  }

  .modal-overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 43%;
  }

  .closeButton {
    position: absolute;
    background: none;
    border: none;
    top: 0;
    right: 0;
    padding: 12px !important;
    box-shadow: none !important;
    color: #787878 !important;
  }

  .closeButton:hover {
    color: black !important;
    background: none;
  }

  .closeButton:active {
    position: inherit;
    top: 0;
  }

  form div {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  select {
    width: 70%;
    float: right;
  }

  .Doctor.available {
    background: #3B99D4;
    position: relative;
    user-select: none;
  }
  .Assistant.available {
    background: #ef3e36;
    position: relative;
    user-select: none;
  }
  .Hygienist.available {
    background: #38f771;
    position: relative;
    user-select: none;
  }
  .title {
    line-height: 1;
    color: black;
    padding-left: 8px;
    padding-top: 8px;
    margin: 0px;
    font-size: 1.6vh;
    font-weight: 600;
    margin: 6px;
  }